@font-face {
	font-family: 'Icons';
	src:url('fonts/Icons.eot');
}

@font-face {
    font-family: 'rampungregular';
    font-display: swap;
    src: url('fonts/rampung-webfont.eot');
    src: url('fonts/rampung-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rampung-webfont.woff2') format('woff2'),
         url('fonts/rampung-webfont.woff') format('woff'),
         url('fonts/rampung-webfont.ttf') format('truetype'),
         url('fonts/rampung-webfont.svg#rampungregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sertiglight';
    font-display: swap;
    src: url('fonts/sertig-webfont.eot');
    src: url('fonts/sertig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sertig-webfont.woff2') format('woff2'),
         url('fonts/sertig-webfont.woff') format('woff'),
         url('fonts/sertig-webfont.ttf') format('truetype'),
         url('fonts/sertig-webfont.svg#sertiglight') format('svg');
    font-weight: normal;
    font-style: normal;
}
